BasedOnStyle: google
SortIncludes: false

IndentWidth: 4
ColumnLimit: 100

PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Right
AlignTrailingComments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    BeforeElse: true

AlwaysBreakAfterReturnType: AllDefinitions

SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 2

AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
IndentWrappedFunctionNames: false
